.btn-login {
    background-color: var(--one);
    color: var(--white);
    padding: .8rem 1.2rem;
    border-radius: 20px;
    transition: all .3s;
}

.btn-login:hover {
    background-color: var(--black);
    color: var(--one);
}

@media (max-width: 768px) {
    .btn-login {
        padding: .6rem 1rem;
    }
}
