/* * {
    outline: 1px solid red;
} */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 80px;
    border-radius: 50%;
}

header ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    z-index: 1000;
}

a:hover {
    color: var(--one);
}

header ul a::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    margin-top: 2px;
    background-color: var(--white);
    transition: all .4s;
}

header ul a:hover::after {
    background-color: var(--one);
    width: 100%;
}

.btn-menu {
    display: none;
    z-index: 1000;
}

#invisible-div {
    display: none;
}

.btn-bell {
    color: var(--black);
    background-color: transparent;
    padding: 5px;
    border: none;
    transition: all .3s;
}

.btn-bell:hover {
    color: var(--one);
}


@media (max-width: 768px) {
    header button {
        border: 1px solid var(--black);
        background-color: transparent;
        color: var(--black);
        padding: .7rem .7rem;
        border-radius: 20px;
    }

    header ul {
        position: absolute;
        top: -100vh;
        background-color: var(--white);
        border-radius: 20px;
        padding: 1rem 1.5rem;
        width: 90%;

        display: flex;
        flex-direction: column;
        transition: all .5s;
    }

    header ul a {
        color: var(--black);
    }
    .btn-menu {
        display: block;
        transition: all .3s;
    }
    .btn-menu:hover {
        background-color: var(--white);
        color: var(--black);
    }
    .menu-active {
        top: 16vh;
    }
    #invisible-div {
        display: block;
        position: absolute;
        left: -100vw;
        width: 100vw;
        height: 500vh;
        background-color: var(--black);
        opacity: 70%;
    }
    
    .div-visible {
        left: 0 !important;
    }
}