@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
/* 
font-family: 'Inter', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: #0e0e0e;
    --white: #f8f8f8;
    --grey: #f7f7f7;
    --one: #4373ED;
    --two: #e63030;

    /* --black: #f7f7f7;
    --white: #F1F1F1;
    --grey: #0e0e0e;
    --one: #4373ED;
    --two: #e63030; */
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Inter', sans-serif;

    background-image: radial-gradient(circle, var(--white), #dfdfdf);
    animation: gradient 15s linear infinite;
    background-size: 200% 200%;
}

p {
    color: var(--black);
}

h1 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--black);
    transition: all .3s;
}

ul {
    list-style: none;
}

.overflow {
    overflow: hidden;
}

button {
    cursor: pointer;
}