@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
/* 
font-family: 'Inter', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: #0e0e0e;
    --white: #f8f8f8;
    --grey: #f7f7f7;
    --one: #4373ED;
    --two: #e63030;

    --yellow: #F2DF34;
    --red: #FD5D39;
    --blue: #39B4FA;
    --green: #5AF234;
    --green-light: #39FD87;
    --orange: #FAA139;
}

::selection {
    background-color: var(--blue);
    color: var(--white);
}

body {
    background-color: var(--white);
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

p {
    color: var(--black);
}

h1 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--black);
    transition: all .3s;
}

ul {
    list-style: none;
}

.overflow {
    overflow: hidden;
}

button {
    cursor: pointer;
}