.container-erro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: 10rem;
    gap: 2rem;
}

.container-erro .text {
    width: 100%;
    max-width: 390px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.container-erro h1 {
    color: var(--white);
}

.container-erro p {
    color: var(--grey);
    line-height: 150%;
}

.container-erro img {
    width: 100%;
    max-width: 400px;
}

@media (max-width: 768px) {
    .container-erro {
        flex-direction: column;
        margin-top: 6rem;
        margin-bottom: 8rem;
    }
}